certifi==2017.7.27.1
chardet==3.0.4
click==6.7
configobj==5.0.6
configparser==3.5.0
decorator==4.1.2
ecdsa==0.13
fitz==0.0.1.dev2
funcsigs==1.0.2
future==0.16.0
httplib2==0.10.3
idna==2.6
isodate==0.5.4
lxml==3.8.0
mock==2.0.0
netifaces==0.10.6
networkx==1.11
nibabel==2.1.0
nipype==0.13.1
numpy==1.13.1
pandas==0.20.3
pbr==3.1.1
prov==1.5.1
py==1.4.34
pydotplus==2.0.2
pyparsing==2.2.0
pytest==3.2.1
python-dateutil==2.6.1
pytz==2017.2
pyxnat==0.0.0
pyzmq==16.0.2
rdflib==4.2.2
requests==2.18.4
scipy==0.19.1
simplejson==3.11.1
six==1.10.0
SQLAlchemy==1.1.13
traits==4.6.0
urllib3==1.22
wxPython==4.0.0b2.dev3306+c1010c5
